<div>
    <h2 class="large  lead">Dashboard</h2>
    
{{#if success}}
<br>
  <div class="success">
    <strong>{{success}} </strong>  
  </div>
  <br>
{{/if}}
    <p class="lead">Name : {{owner.Name}}</p>
    <p class="lead">Email : {{owner.email}}</p>
    <p class="lead">Address : {{owner.Address}} </p>   
    <p class="lead">Phone : {{owner.phone}} </p>   
</div> 
